body {
  background-image:url(/home/guillaume/Images/2.jpg);
  /*background-color: #CACECE;*/
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: black;
  letter-spacing: 1px;
}

h1 {
  font-size: 50px;
}

h2 {
  color: white;
}
table {
  margin: 0 auto;
}

ul {
  padding-bottom: 50px;
}

#portrait {
  border-radius: 90px;
  height: 20%;
  width: 20%;
}

.movies {
  background-color: white;
  margin-bottom: 30px;
  height: 60%%;
  box-shadow: 5px 5px 5px grey;
}
.movies img {
  height: 16%;
  width: 16%;
  border-radius: 20px;
  float: left;
}

.languages {
  margin: 0 auto;
}

.presentation {
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  height: 50%;
}

.container {
  width: 700px;
  margin: 0 auto;
}


#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-image:url(/home/guillaume/Images/1.jpg);
}
#page-content {
  margin-left: 150px;
}

.button-1, .button-2, .button-3 {
  text-decoration: none;
  color: white;
}




@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
